table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.campaign-pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination li {
  display: inline-block;
  cursor: pointer;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


.active {
  background: #38c1f5;
  color: white!important;

}
