<div class="campaign-list-container">
  <table>
    <thead>
    <tr>
      <th>Campaign Description</th>
      <th>Value</th>
      <th>Type</th>
      <th>Number Of Coupons</th>
      <th>Merchant Name</th>
      <th>Creation Date</th>
      <th>Expiry Date</th>
    </tr>

    </thead>
    <tbody>
    <tr *ngFor="let campaign of campaigns; let i = index;">
      <td>{{campaign.description}}</td>
      <td>{{campaign.value}}</td>
      <td>{{campaign.type}}</td>
      <td>{{campaign.noOfCoupons}}</td>
      <td>{{campaign.merchant['name']}}</td>
      <td>{{campaign.creationDate | date}}</td>
      <td>{{campaign.expiryDate | date}}</td>
    </tr>
    </tbody>

  </table>
</div>
