<div>
  <table>
    <thead>
    <tr>
      <th>Campaign Description</th>
      <th>Value</th>
      <th>Type</th>
      <th>Number Of Coupons</th>
      <th>Merchant Name</th>
      <th>Creation Date</th>
      <th>Creation Date</th>
      <th>Expiry Date</th>
    </tr>

    </thead>
    <tbody>
    <tr *ngFor="let campaign of campaigns; let i = index;">
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
      <td>{{}}</td>
    </tr>
    </tbody>

  </table>
</div>
